langchain~= 0.3.26
langchain_groq~=0.3.6
langchain_openai~=0.3.28
langchain_community~=0.3.27
langchain_tavily~=0.2.10
langchain_huggingface~=0.2.0
python-dotenv~=1.1.1
pyyaml~=6.0.2
langgraph~=0.5.3
black~=25.1.0
tqdm~=4.67.1
aiohttp~=3.12.14
bs4~=0.0.2
datasets~=4.0.0
ragas~=0.3.0
rapidfuzz~=3.13.0
scikit-learn~=1.7.1
pandas~=2.3.1
pytest~=8.4.1
spacy~=3.8.7
https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.8.0/en_core_web_trf-3.8.0-py3-none-any.whl 
guardrails-ai~=0.6.6
rich~=13.9.4
# giskard